:root {
  --color-blue: #0070f3;
  --color-blue-hover: #005FCC;
  --color-secondary: #00000099;
  --color-pink: #F31C99;
  --color-pink-hover: #D90074;
  --color-gray: #737373;
  --color-bg: #ffffff;
  --color-bgGray: #F7F7F7;
  --color-text: #000000;
  --color-secondary2: #00000066;
  --color-red: #FF2E32;
  --color-green: #0CCB68;
}