name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: deploynbdweb/nbd-frontend:latest   # например: andrejaristov/nbd-frontend:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: deploy-nbd-web
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/nbd-frontend
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f